.header {
    text-align: center;
  }
  
  body {
    background: #DFE8CC;
  }
  
  /* HEADER */
  
  .navbar,
  .dropdown-menu {
    background-color: #CCD6A6;
  }
  
  .navbar {
    margin-bottom: 7%;
  }
  
  .nav-font {
    color: black;
  }
  
  .nav-link:focus,
  .nav-link:hover,
  .dropdown-item:focus,
  .dropdown-item:hover {
    color: #fcf9c6;
  }
  
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: #CCD6A6;
  }
  /* FOOTER */
  
  .footer {
    background-color: #F7EDDB;
    width: 100%;
    bottom: 0;
  }
  
  .footer-font {
    margin-bottom: 0;
    color: black;
  }
  
  .footer-icon {
    font-size: 2rem;
    margin-top: 10px;
  }
  
  .footer-link {
    color: black;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .footer-link:hover {
    color: #293462;
  }
  